@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    text-decoration: none !important;
    list-style-type: none !important;
}


.ff-poppins {
    font-family: 'Poppins', sans-serif;
}

.fs-16 {
    font-size: 16px;
}

.fs-36 {
    font-size: 36px;
}

.fw-400 {
    font-weight: 400;
}

.fs-48 {
    font-size: 48px;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.text-color-events {
    color: #2C49FE;
}

.text-color-free {
    color: #01C8FF;
}

.text-color-black {
    color: black;
}

.text-color-black:hover {
    color: aqua;
}

.nav-button {
    color: white;
    background-color: #2C49FE;
    padding: 11px 23px;
    border-radius: 23px;
    border: transparent;
    transition: all 200ms linear;
}

.nav-button:hover {
    font-weight: 600;
    background-color: #EAEDFF;
    color: black;
}

.nav-shadow {
    box-shadow: 0px 8px 35px 0px #0000000D;
}

.padding-top-17 {
    padding-top: 17px;
}

.padding-bottom-17 {
    padding-bottom: 17px;
}

.ml-60 {
    margin-left: 60px;
}

.hero-section-img {
    border-radius: 30px;
    overflow: hidden;
}

.mt-67 {
    margin-top: 67px;
}

.opacity-60 {
    opacity: 0.6;
}


.mt-12 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-30 {
    margin-top: 30px;
}

.col-40 {
    width: 40% !important;
    padding: 0 10px;
}

.col-20 {
    width: 20% !important;
    padding: 0 10px;
}

.card-1 {
    border-radius: 20px;
    box-shadow: 0px 8px 35px 0px #0000001A;
    padding-top: 13px;
    padding-bottom: 13px;
}

.card-7 {
    padding: 13px;
}

.card-2 {
    background: #EAEDFF;
    border-radius: 20px;
}

.small-img {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.text-color-grey {
    color: #666666;
}

.c-flex {
    display: flex;
    flex-direction: column;
}

.blue-rectangle {
    height: 8px;
    background-color: #2C49FE;
}

.cyan-rectangle {
    height: 8px;
    background-color: #01C8FF;
}

.mt-80 {
    margin-top: 80px;
}

.card-3 {
    width: 100%;
    padding: 31px 34px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 8px 35px 0px #0000001A;
}

.fs-24 {
    font-size: 24px;
}

.padding-left-23 {
    padding-left: 23px !important;
}

.h-85 {
    height: 85%;
}

.img-position-bot {
    position: absolute;
    bottom: 0;
    right: 0;
}

.mt-45 {
    margin-top: 45px !important;
}

.br-20 {
    border-radius: 20px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-14 {
    margin-left: 14px;
}

.ml-40 {
    margin-left: 40px;
}

.black-line {
    opacity: 0.2;
    width: 100% !important;
    background-color: black;
    height: 1px;
    margin-top: 23px !important;
}

.mt-26 {
    margin-top: 26px !important
}

.card-4 {
    border: 1px solid #9CA1BE;
    border-radius: 50px;
    padding: 7px;
}

.margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.button-1 {
    background-color: #2C49FE;
    border-radius: 50px;
    border: transparent;
    padding: 11px 28px;
    color: white;
    transition: all 200ms linear;
}

.button-1:hover {
    background-color: #EAEDFF;
    color: black;
}

.fs-20 {
    font-size: 20px;
}

.width-5 {
    width: 5% !important;
}

.card-40 {
    height: 40%;
    padding: 6px !important;
}

.card-45 {
    height: 45%;
    padding: 6px !important;
}

.card-55 {
    height: 55%;
    padding: 6px !important;
}

.card-60 {
    height: 60%;
    padding: 6px !important;
}

.mt-34 {
    margin-top: 34px !important;
}

.card-5 {
    background-color: #F1F2F5;
    border-radius: 0px 20px 20px 20px;
    padding: 14px 20px 20px 20px;
}

.fw-500 {
    font-weight: 500;
}

.width-95 {
    width: calc(95% - 20px) !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.ml-78 {
    margin-left: 78px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mt-81 {
    margin-top: 81px !important;
}

.mt-36 {
    margin-top: 36px !important;
}

.fs-14 {
    font-size: 14px;
}

.font-white {
    color: white;
}

.font-size-12 {
    font-size: 12px;
}

.mt-11 {
    margin-top: 11px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.ml-15 {
    margin-left: 15.35px;
}

.pl-0 {
    padding-left: 0 !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-110 {
    margin-top: 110px !important;
}

.pb-104 {
    padding-bottom: 104px !important;
}

.show-more {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.card-6 {
    background-color: #FFFFFF;
    color: #666666;
    border-radius: 20px;
    height: 50%;
    width: 50%;
    bottom: 11px;
    right: 9px;
    position: absolute;
}
.upper-arrow{
    max-width: 50px !important;
    max-height: 50px !important;
    right: 10%;
    bottom: 20%;
}
@media (max-width:1400px) {
    /* .col-cxl-6{
        width: 50% !important;
    } */

    .col-cxl-12 {
        width: 100% !important;
    }
}

@media (max-width:1200px) {

    .col-clg-6 {
        width: 50% !important;
    }

    .c-h-100 {
        height: 100% !important;
    }

    .col-clg-12 {
        width: 100% !important;
    }

    .col-clg-display-none {
        display: none;
    }
}

@media (max-width: 991.8px) {
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: -100%;
        transition: all 200ms linear;
        background-image:url(../images/nav-bg-img.avif);
        background-repeat: no-repeat;
        height: 100%;
        z-index: 2;
        background-size: cover;
    }

    .menu-icon {
        position: relative;
        width: 18px;
        float: right;
        z-index: 3;
    }

    .menu-icon>span {
        display: block;
        position: relative;
        top: 50%;
        transform: translate(-50%);
        height: 3px;
        width: 100%;
        background-color: rgba(0, 255, 13, 0.432);
        transition: all 200ms linear;
    }

    .menu-icon>span::before {
        position: absolute;
        top: -5px;
        content: "";
        height: 3px;
        width: 100%;
        background-color: rgba(0, 255, 195, 0.518);
        transition: all 200ms linear;
    }

    .menu-icon>span::after {
        position: absolute;
        top: 5px;
        content: "";
        height: 3px;
        width: 100%;
        background-color: rgb(0, 255, 55);
        transition: all 200ms linear;
    }

    .menu-button:checked~.menu {
        left: 0;
       
    }
 .text-color-black {
     color: white;
 }
    .menu-button:checked~.menu-icon>span {
        background-color: transparent;
    }

    .menu-button:checked~.menu-icon>span::before {
        top: 0;
        transform: rotate(-45deg);
    }

    .menu-button:checked~.menu-icon>span::after {
        top: 0;
        transform: rotate(45deg);
    }

    .col-cl-12 {
        width: 100% !important;
    }

    .mt-cl-50 {
        margin-top: 50px !important;
    }

    .col-cl-display {
        display: block;
    }
}


@media (max-width:992px) {
    .col-cmd-12 {
        width: 100% !important;
    }

    .mt-cmd-16 {
        margin-top: 16px !important;
    }
}

@media (max-width:768px) {

    .col-csm-12 {
        width: 100% !important;
    }

}

@media (max-width:576px) {
    .col-cxsm-12 {
        width: 100% !important;
    }

    .mt-cxsm-20 {
        margin-top: 20px !important;
    }
}